<!--breadcumb area start -->
<div class="breadcumb-area overlay pos-rltv">
  <div class="bread-main">
    <div class="bred-hading text-center">
      <h5>Cart Details</h5>
    </div>
    <ol class="breadcrumb">
      <li class="home"><a
          title=container"Go to Home Page"
          href="/api/productos"
        >Home</a></li>
      <li class="active">Cart</li>
    </ol>
  </div>
</div>
<!--breadcumb area end -->
<!--cart-checkout-area start -->
<div class="cart-checkout-area pt-30 name="" ">
  <div class="container" id={{idCarrito}}>
    <div class="row">
      <div class="col-lg-12">
        <div class="product-area">
          
          <div class="clearfix"></div>
          <div class="content-tab-product-category pb-70">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show active" id="cart">
                <!-- cart are start-->
                <div class="cart-page-area">
                  <form
                    method="post"
                    action="https://template.hasthemes.com/clothing/clothing/cart.html"
                  >
                    <div class="table-responsive mb-20">
                      <table class="shop_table-2 cart table">
                        <thead>
                          <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Product Name</th>
                            <th class="product-price">Unit Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                            <th class="product-remove">Remove</th>
                          </tr>
                        </thead>
                        <tbody>
                           {{#each  artuculos}}
                          <tr class="cart_item">
                            <td class="item-img">
                              <a
                                href="#"
                              ><img src="{{this.url}}" alt="{{this.nombre}}" />
                              </a>
                            </td>
                            <td class="item-title">
                              <a
                                href="https://template.hasthemes.com/clothing/clothing/cart.html"
                              >{{this.nombre}}</a></td>
                            <td class="item-price"> ${{this.precio}} </td>
                            <td class="item-qty">
                              <div class="cart-quantity">
                                <div class="product-qty">
                                  <div class="cart-quantity">
                                    <div class="cart-plus-minus">
                                     
                                      <input
                                        value="{{this.cantidad}}"
                                        name="qtybutton"
                                        class="cart-plus-minus-box"
                                        type="text"
                                        id="{{this._id}}"
                                      />
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class="total-price"><strong> ${{this.total}}</strong>
                            </td>
                            <td class="remove-item"><a
                                href="#"
                              onClick="getDeleteProductCar('{{this._id}}')"><i class="fa fa-trash-o"></i></a></td>
                          </tr>
                         {{/each}}
                        </tbody>
                      </table>
                    </div>

                    <div class="cart-bottom-area">
                      <div class="row">
                        <div class="col-lg-8 col-md-7">
                          <div class="update-coupne-area">
                          
                           
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                          <div class="cart-total-area">
                            <div
                              class="catagory-title cat-tit-5 mb-20 text-end"
                            >
                              <h3>Cart Totals</h3>
                            </div>
                            <div class="sub-shipping">
                              <p>Subtotal <span>$$ {{total}}</span></p>
                              <p>Shipping <span>$$ {{iva}}</span></p>
                            </div>
                            <div class="shipping-method text-end">
                              <div class="shipp">
                                <input
                                  type="radio"
                                  name="ship"
                                  id="pay-toggle1"
                                />
                                <label for="pay-toggle1">Flat Rate</label>
                              </div>
                              <div class="shipp">
                                <input
                                  type="radio"
                                  name="ship"
                                  id="pay-toggle3"
                                />
                                <label for="pay-toggle3">Direct Bank Transfer</label>
                              </div>
                              <p><a
                                  href="https://template.hasthemes.com/clothing/clothing/cart.html"
                                >Calculate Shipping</a></p>
                            </div>
                            <div class="process-cart-total">
                              <p>Total <span>$ {{talaPagar}}</span></p>
                            </div>
                            <div class="process-checkout-btn text-end">
                              <a
                                class="btn-def btn2"
                                href="/api/carrito/agregar"
                              >Pay</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- cart are end-->
              </div>
             