 <!--breadcumb area start -->
        <div class="breadcumb-area overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Product Grid View</h5>
                </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="/api/productos">Home</a></li>
                    
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->
     <!--shop main area are start-->
        <div class="shop-main-area ptb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-area-top">
                             <form id="mi-formulario" method="post" action=""></form>
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-6">
                                    <div class="sort product-show">
                                        <label>View</label>
                                        <select id="input-amount">
                                            <option value="volvo">10</option>
                                            <option value="saab">15</option>
                                            <option value="vw">20</option>
                                            <option value="audi" selected>25</option>
                                        </select>
                                    </div>
                                   
                                    <div class="sort product-type">
                                        <label>Sort By</label>
                                        <select id="input-sort" name="input-sort" >
                                            <option value="0" selected>Default</option>
                                            <option value="1" >Camisetas y remeras para hombre</option>
                                            <option value="2">Pantalones para hombre</option>
                                            <option value="3">Set de dos para hombre</option>
                                            <option value="4">Jeans para hombre</option>                                           
                                            <option value="0">All</option>
                                        </select>
                                    </div>
                                    
                                </div>
                                </form>
                                <div class="col-xl-4 col-lg-3 col-md-2">
                                    <div class="list-grid-view text-center">
                                        <ul class="nav" role="tablist">
                                            <li role="presentation"><a class="active" href="#" aria-controls="grid" role="tab" data-bs-toggle="tab"><i class="zmdi zmdi-widgets"></i></a>
                                            </li>
                                            <li role="presentation"><a href="#" aria-controls="list" role="tab" data-bs-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 d-sm-none d-md-block d-block">
                                    <div class="total-showing text-end">
                                        Showing - <span>10</span> to <span>18</span> Of Total <span>36</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <div class="shop-total-product-area clearfix mt-35">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--tab grid are start-->
                                <div role="tabpanel" class="tab-pane fade show active" id="grid">
                                    <div class="total-shop-product-grid row">
                                        {{#each  artuculos}}
                                       <!--agregar if de hb-->
                                        <div class="col-lg-3 d-md-none d-block d-lg-block item">
                                            <!-- single product start-->
                                            <div class="single-product">
                                                <div class="product-img">

                                                   <!-- <div class="product-label red">
                                                        <div class="new">Sale</div>
                                                    </div> -->

                                                    <div class="single-prodcut-img  product-overlay pos-rltv" >
                                                        <a href="#"> <img alt='Imagen de {{this.nombre}}' src='{{this.url}}' class="primary-image"> 
                                                        </a>
                                                    </div>
                                                    <div class="product-icon socile-icon-tooltip text-center">
                                                        <ul>
                                                            <li><a href="#" data-tooltip="Add To Cart" class="add-cart" data-placement="left" onClick="getNewCar('{{this.id}}')"><i class="fa fa-cart-plus"></i></a></li>
                                                            
                                                            <li><a href="#" data-tooltip="Quick View" class="q-view" data-bs-toggle="modal" data-bs-target=".modal" onClick="getProductoById('{{this.id}}')"><i class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-text">
                                                    <div class="prodcut-name"> <a href="single-product.html">{{this.nombre}}</a> </div>
                                                    <div class="prodcut-ratting-price">
                                                        <div class="prodcut-ratting">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="prodcut-price">
                                                            <div class="new-price"> $MXN {{this.precio}} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single product end-->
                                        </div>
                                        <!--agregar each de hb-->
                                          {{/each}}
                                    </div>
                                </div>
                                <!--shop grid are end-->

                                <!--shop product list start-->
                                <div role="tabpanel" class="tab-pane  fade in" id="list">
                                    <div class="total-shop-product-list row">
                                 {{#each  artuculos}}        
                                <!--ciclo hbs-->
                                        <div class="col-lg-12 item">
                                            <!-- single product start-->
                                            <div class="single-product single-product-list full-widht-list">
                                                <div class="product-img">
                                                    <div class="single-prodcut-img  product-overlay pos-rltv">
                                                        <a href="single-product.html"> <img alt='Imagen de {{this.nombre}}' src='{{this.url}}' class="primary-image"> 
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-text prodcut-text-list fix">
                                                    <div class="prodcut-name list-name montserrat"> <a href="single-product.html">{{this.nombre}}</a>
                                                    </div>
                                                    <div class="prodcut-ratting-price">
                                                        <div class="prodcut-ratting list-ratting">
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="prodcut-price list-price">
                                                            <div class="new-price"> $MXN {{this.precio}} </div>
                                                            <!--<div class="old-price"> <del>$300</del> </div>-->
                                                        </div>
                                                    </div>
                                                    <div class="list-product-content">
                                                        <p>{{this.descripcion}}</p>
                                                    </div>
                                                    
                                                    <div class="social-icon-wraper mt-25">
                                                        <div class="social-icon socile-icon-style-1">
                                                            <ul>
                                                                <li><a href="#"><i class="zmdi zmdi-shopping-cart"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i></a>
                                                                </li>
                                                                <li><a href="#" data-tooltip="Quick View" class="q-view" data-bs-toggle="modal" data-bs-target=".modal" tabindex="0"><i class="zmdi zmdi-eye"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="zmdi zmdi-repeat"></i></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single product end-->
                                        </div>

                                         <!--ciclo hbs-->
                                        {{/each}}
                                    </div>
                                </div>
                                <!--shop product list end-->

                                <!--pagination start-->
                                <div class="col-lg-12">
                                    <div class="pagination-btn text-center">
                                        <ul class="page-numbers">
                                            <li><a href="#" class="next page-numbers"><i class="zmdi zmdi-long-arrow-left"></i></a></li>
                                            <li><span class="page-numbers current">1</span></li>
                                            <li><a href="#" class="page-numbers">2</a></li>
                                            <li><a href="#" class="page-numbers">3</a></li>
                                            <li><a href="#" class="next page-numbers"><i class="zmdi zmdi-long-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--pagination end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--shop main area are end-->
